@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
nav {
  height: 30px;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
}
.footer h4{
  font-weight: 500;
  color: #fff;
}
#tutor{
  font-family: "Kanit", sans-serif;
  font-size: 70px;
  color:#f82e9e;
  margin-top: 250px;
}
#hero {
  width: 100%;
  height: 100vh;
  /* position: absolute; */
  background-image: url("../public/wave-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#uname{
  font-family: 'Rowdies', cursive;
  font-size: 32px;
  font-weight: 700;
  color: white;
}
#fest{
  font-family: 'Rowdies', cursive;
  font-size: 32px;
  font-weight: 700;
  margin-top: -30px;
  color: orange;
}
#headliner{
  font-family: Futura, "Trebuchet MS";
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}
#co_headliner{
  font-family: Futura, "Trebuchet MS";
  color: white;
  display: flex;
 
}
#co_headlinerer{
  font-size: 30px;
  font-weight: 600;
}
#spotify-logo{
  width: 150px;
  margin-left: -70px;
}
#lineuper{
  font-family: Futura, "Trebuchet MS";
  font-size: 20px;
}
#top_biller{
  font-family: Futura, "Trebuchet MS";
  font-size: 24px;
  font-weight: 600; 
  color: white;
}
#login-btn{
  background-image: url(../public/spotify.svg);
  background-size: cover;
  border: none;
  margin-left: -250px;
  z-index: 999;
  position: relative;
}
#lottie-hero{
  margin-top: -280px;
  height: 550px;
}
#lottie-hero-img{
  height: 475px;
}
#welcome {
  width: 100%;
  height: 600px;
  background-image: url("../public/blob-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Kanit", sans-serif;
}
#welcome-to {
  font-size: 90px;
  color: #f82e9e;
}
#welcome-to-1 {
  font-size: 30px;
  color: #eb4ea4;
}
#welcome-text-container{
  width: 100%;
  height: 50vh;
}
#img-top-container{
  width: 70%;
}
#try{
  
}
#top-genre {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 800px;
  /* position: absolute; */
  background-image: url("../public/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#layer2 {
  width: 100%;
  height: 500px;
  /* position: absolute; */
  background-image: url("../public/layer1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#layer {
  margin-top: -30px;
  width: 100%;
  height: 200px;
  background-image: url("../public/layered-waves-haikei-atas.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#logo {
  margin-left: 100px;
}
#img-logo {
  margin-left: -150px;
  margin-top: -20px;
  height: 400px;
  width: 800px;
}
#logo-text {
  margin-left: 30px;
  margin-top: -100px;
}
#preview{
  height: 650px;
  width: 600px;
  margin-top: 200px;
  background: url('../public/pantai.jpg');
  background-size: cover;
  background-position: center;
}
#preview-img{
  width: 540px;
  height: 500px;
  position: relative;
}
.btn-circle {
  width: 100px;
  height: 100px;
  padding: 7px 10px;
  border-radius: 100px;
  font-size: 20px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  margin-left: 30px;
}
#welcome-text {
  font-family: "Kanit", sans-serif;
  margin-top: 150px;
  position: absolute;
}
#flower {
  position: absolute;
  left: 0;
  bottom: 50px;
}
#rate {
  font-family: "Kanit", sans-serif;
  font-size: 70px;
}
#rateresult {
  font-family: "Kanit", sans-serif;
  margin-top: 50px;
}
#top-song {
  font-family: "Kanit", sans-serif;
  text-align: center;
}
#top-g {
  font-family: "Kanit", sans-serif;
  margin-left: 475px;
  text-align: center;
}
#top-g-title {
  font-size: 70px;
  margin-top: 200px;
  color: #f82e9e;
}
#artist {
  margin-top: 50px;
  color: white;
  position: relative;
  z-index: 999;
  
}
#lottie {
  margin-left: 700px;
  margin-top: -400px;
}
#lottie-bird {
  position: absolute;
}
#lottie-rate {
  height: 150px;
  margin-top: 50px;
}
p {
  font-family: "Kanit", sans-serif;
}
@media (min-width:320px)  { 
  
}
@media only screen and (max-width: 768px) {
  #welcome-text {
    margin-left: -5px;
  }
  #spotify-logo{
    width: 150px;
    margin-left: 0px;
    margin-top: 45px;
  }
  #welcome-to {
    font-size: 50px;
  }
  #welcome-to-1 {
    font-size: 15px;
  }
  #preview{
    width: 320px;
  }
  #headliner{
    font-size: 35px;
  }
  #artist{
    width: 300px;
  }
  #lineup{
    width: 300px;
  }
  #lineuper{
    font-size: 16px;
  }
  #top_biller{
    font-size: 18px;
  }
  #co_headlinerer{
    font-size: 20px;
  }
  #top-biller{
    font-size: 12px;
  }
  #img-top-container img{
    height: 100px;
  }
  #flower {
    position: absolute;
    bottom: 0;
  }

  #top-g {
    margin-left: -100px;
    font-size: 20px;
  }

  #top-g-title {
    font-size: 40px;
    /* margin-left: 170px;
    */
    margin-top: 150px;
  }
  #artist {
    /* margin-left: 150px; */
  }
  #top-genre {
    height: 600px;
  }
  #rate {
    margin-left: -350px;
    font-size: 40px;
  }
  #lottie-rate {
    /* margin-left: 140px; */
    /* height: 150px;
    margin-top: 300px; */
  }
  #rateresult {
    /* margin-left: -135px; */
  }
  #top-genre {
    height: 550px;
  }
  #img-logo{
    margin-left: -110px;
    width: 370px;
  }
  #lottie-hero{
    margin-left: 20px;
    margin-top: -80px;
  }
  #lottie-hero-img{
    width: 200px;
    margin-top: -10px;
  }
  #lottie-hero-img-2{
    width: 300px;
    margin-top: -420px;
    margin-left: -100px;
    position: relative
  }
  #logo-text{
    margin-left: -80px;
    margin-top: -120px;
  }
  #login-btn{
    margin-left: -50px;
    z-index: 1;
  }
}
/* iphone x */
@media only screen and  (device-width: 375px) and (device-height: 812px)  {
#tutor{
  font-size: 42px;
}
#img-top-container{
  height: 120px;
  gap: 20px;
}
#img-top-container img{
  height: 100px;
}
#flower{
bottom: -200px;
}
}

/* iphone 6/7/8 */
@media only screen and  (device-width: 375px) and (device-height: 667px)  {
  #tutor{
    font-size: 42px;
  }
  #img-top-container{
    height: 150px;
    gap: 20px;
  }

  #flower{
  bottom: -200px;
  }


}
@media screen and (max-device-width: 480px)
 {
  #tutor{
    font-size: 42px;
  }
  #img-top-container{
    height: 150px;
    gap: 20px;
  }
  #flower{
    bottom: -200px;
  }
}
 /* iphone 5/se */
 @media only screen and  (device-width: 320px) and (device-height: 568px)  {
  #tutor{
    font-size: 42px;
  }
  #img-top-container{
    height: 150px;
    gap: 20px;
  }
  #flower{
  bottom: -320px;
  }
  #tutor{
    font-size: 30px;
  }
  #img-top-container{
    height: 100px;
    width: 100px;
  }


}
/* iphone se */
@media only screen and  (device-width: 375px) and (device-height: 667px){
#flower{
  bottom: -200px;
}
}

/* iphone 6+/7/8+ */
@media only screen and  (device-width: 414px) and (device-height: 736px)  {
  #tutor{
    font-size: 42px;
  }
  #img-top-container{
    height: 150px;
    gap: 20px;
  }
  #flower{
  bottom: -180px;
  }


}
@media only screen and  (device-width: 393px) and (device-height: 851px)  {
 
  #img-logo{
    margin-left: -110px;
    width: 390px;
  }
  #lottie-hero{
    margin-left: 20px;
    margin-top: -80px;
  }
  #lottie-hero-img{
    width: 200px;
    margin-top: -10px;
  }
  #lottie-hero-img-2{
    width: 300px;
    margin-top: -420px;
    margin-left: -100px;
    position: relative
  }
  #logo-text{
    margin-left: -80px;
    margin-top: -120px;
  }
  #login-btn{
    margin-left: -50px;
    z-index: 1;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #flower {
    position: absolute;
    margin-bottom: 320px;
    margin-left: -60px;
    height: 80px;
  }
  #lottie-bird {
    position: absolute;
    margin-left: -50px;
    margin-top: 30px;
  }
  #img-logo{
    margin-left: -120px;
    width: 380px;
  }
  #lottie-hero{
    margin-left: 20px;
    margin-top: -80px;
  }
  #lottie-hero-img{
    width: 200px;
    margin-top: -10px;
  }
  #lottie-hero-img-2{
    width: 300px;
    margin-top: -420px;
    margin-left: -100px;
    position: relative
  }
  #logo-text{
    margin-left: -80px;
    margin-top: -120px;
  }
  #login-btn{
    margin-left: -50px;
    z-index: 1;
  }
}
/* iphonexr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #lottie-bird {
    position: absolute;
    margin-left: -50px;
    margin-top: 30px;
  }
  #img-logo{
    margin-left: -130px;
    width: 450px;
  }
  #lottie-hero{
    margin-left: 20px;
    margin-top: -80px;
  }
  #lottie-hero-img{
    width: 200px;
    margin-top: -10px;
  }
  #lottie-hero-img-2{
    width: 300px;
    margin-top: -380px;
    margin-left: -100px;
    position: relative
  }
  #logo-text{
    margin-left: -80px;
    margin-top: -120px;
  }
  #login-btn{
    margin-left: -50px;
    z-index: 1;
  }
  #top-genre{
    height: 1000px;
  }
  #flower{
    bottom: 0;
  }
  #img-top-container{
    gap: 20px;
  }
 
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  #flower {
    bottom: 0;
  }
  #lottie-bird {
    position: absolute;
    margin-left: -50px;
    margin-top: 30px;
  }
  #tutor{
    font-size: 40px;
  }
  #img-top-container{
    height: 150px;
    gap: 20px;
  }
  #img-logo{
    margin-left: -130px;
    width: 450px;
  }
  #lottie-hero{
    margin-left: 20px;
    margin-top: -80px;
  }
  #lottie-hero-img{
    width: 200px;
    margin-top: -10px;
  }
  #lottie-hero-img-2{
    width: 300px;
    margin-top: -420px;
    margin-left: -100px;
    position: relative
  }
  #logo-text{
    margin-left: -80px;
    margin-top: -120px;
  }
  #login-btn{
    margin-left: -50px;
    z-index: 1;
  }
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 
      #flower {
        position: absolute;
        margin-bottom: 350px;
        margin-left: -60px;
        height: 80px;
      }
      #lottie-bird {
        position: absolute;
        margin-left: -50px;
        margin-top: 30px;
      }
      #img-logo{
        margin-left: -120px;
        width: 410px;
      }
      #lottie-hero{
        margin-left: 20px;
        margin-top: -80px;
      }
      #lottie-hero-img{
        width: 200px;
        margin-top: -10px;
      }
      #lottie-hero-img-2{
        width: 300px;
        margin-top: -420px;
        margin-left: -100px;
        position: relative
      }
      #logo-text{
        margin-left: -80px;
        margin-top: -120px;
      }
      #login-btn{
        margin-left: -50px;
        z-index: 1;
      }
    }

    @media only screen 
    and (device-width: 375px) 
    and (device-height: 667px) 
    { 
      
      #flower {
        position: absolute;
        margin-bottom: 350px;
        margin-left: -60px;
        height: 80px;
      }
      #lottie-bird {
        position: absolute;
        margin-left: -50px;
        margin-top: 30px;
      }
      #img-logo{
        margin-left: -120px;
        width: 380px;
      }
      #lottie-hero{
        margin-left: 20px;
        margin-top: -80px;
      }
      #lottie-hero-img{
        width: 200px;
        margin-top: -10px;
      }
      #lottie-hero-img-2{
        width: 300px;
        margin-top: -420px;
        margin-left: -100px;
        position: relative
      }
      #logo-text{
        margin-left: -80px;
        margin-top: -120px;
      }
      #login-btn{
        margin-left: -50px;
        z-index: 1;
      }
    }